/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5dc; /* Old paper color */
  --foreground: #333333; /* Darker text for better contrast */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Apple Garamond", serif;
}

.dark {
  --background: #1e1e1e; /* Adjusted dark mode background for better contrast */
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  position: relative;
  overflow-x: hidden;
}

/* Force all elements to use the same cursor */
*, *::before, *::after, 
a, button, [role="button"],
a:hover, button:hover, [role="button"]:hover {
  cursor: none !important;
}
